@media (min-width: 600px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer-links {
        flex-direction: row;
    }
    .footer-links ul {
        flex-direction: row;
        
    }
}
  
  .google-play-image {
    width: 100px; 
    height: auto;
    cursor: pointer;
  }