<div fxLayout="column" fxLayoutAlign="center center">
  <!-- First Card -->
  <mat-card class="mat-elevation-z3" [ngStyle.xs]="{'width': '80%'}" [ngStyle.sm]="{'width': '80%'}" [ngStyle.md]="{'width': '60%'}" [ngStyle.lg]="{'width': '50%'}" style="margin-top: 5%;">
    <mat-card-header style="justify-content: center; background-color: var(--primary-color); color: white; padding: 2px;">
      <div style="display: flex; align-items: center; justify-content: center;">
        <mat-icon style="margin-right: 8px;">mail</mat-icon>
        <mat-card-title style="text-align: center;">Contact Us</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content style="text-align: center;">
      <p [ngStyle.xs]="{'font-size': '14px'}" [ngStyle.sm]="{'font-size': '14px'}" [ngStyle.md]="{'font-size': '16px'}" [ngStyle.lg]="{'font-size': '16px'}">
        Contact us, If you have any queries: 
        <a href="mailto:sakkirhussainvp@gmail.com" style="color: var(--primary-color);; text-decoration: none;">sakkirhussainvp&#64;gmail.com</a>
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Second Card -->
  <mat-card class="mat-elevation-z3" [ngStyle.xs]="{'width': '80%'}" [ngStyle.sm]="{'width': '80%'}" [ngStyle.md]="{'width': '60%'}" [ngStyle.lg]="{'width': '50%'}" style="margin-top: 20px;">
    <mat-card-header style="justify-content: center; background-color: var(--primary-color); color: white; padding: 2px;">
      <div style="display: flex; align-items: center; justify-content: center;">
        <mat-icon style="margin-right: 8px;">info</mat-icon>
        <mat-card-title style="text-align: center;">Disclaimer</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content style="text-align: center;">
      <p [ngStyle.xs]="{'font-size': '14px'}" [ngStyle.sm]="{'font-size': '14px'}" [ngStyle.md]="{'font-size': '16px'}" [ngStyle.lg]="{'font-size': '16px'}">
        This application is not a substitute for official Kerala lotteries or the Government of Kerala. This app displays the lottery result already published in official sources.
      </p>
    </mat-card-content>
  </mat-card>
</div>
